/*Admin styles*/
.compat-field-owl_heading input[name*=owl_heading] {
display: none;
}

.compat-field-owl_heading {background: #ddd; text-align: center; padding:1em; margin: 0 0 1em 0;}

.compat-item .label {text-align: left; width: 30%; margin-right: 0;}
.compat-item .label span {width: 100%; float: left; display: inline-block; font-weight: 700}
.compat-item .field {display: inline-block !important;}


.compat-field-owl_heading .label {width: 100%;}
.compat-field-owl_heading .label  span {text-align: center; font-size: 1em;}
.compat-field-owl_heading .field {width: 95%; text-align: left;}

.compat-attachment-fields p.help {
	margin: 6px 0; 
	line-height: 1.2; 
	color: #aaa;
	font-size: .95em;
	}

.compat-item tr {padding: 2px 0 1em 0;}

#screen-meta .compat-field-owl_heading .label {
width: 25%;
}
#screen-meta .compat-attachment-fields td,
#screen-meta .compat-attachment-fields th {padding: .5em;}

.foogallery-help {
top: -48px;
margin-bottom: -48px !important;
}

/*admin preview thumbnail styles */
.foogallery-owl-carousel a { display: inline-block; overflow: hidden; }  
.foogallery-owl-carousel a img { border-radius: 0; display: inline-block;}

/* Border styles */ 
.foogallery-owl-carousel.border-style-rounded a { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }  .foogallery-owl-carousel.border-style-square-white a { border: 5px solid #FFF; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }  .foogallery-owl-carousel.border-style-circle-white a, .foogallery-owl-carousel.foogallery-lightbox-none.border-style-circle-white img { border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: 5px solid #FFF; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); max-width: 95%;}  .foogallery-owl-carousel.border-style-circle-black a, .foogallery-owl-carousel.border-style-circle-black.foogallery-lightbox-none img { border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: 3px solid #000; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); } .foogallery-owl-carousel.border-style-square-black a { border: 3px solid #000; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }  .foogallery-owl-carousel.border-style-inset a { position: relative; max-width: 100%; }  .foogallery-owl-carousel.border-style-inset a::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; box-shadow: inset 0 0 20px #000; -moz-box-shadow: inset 0 0 20px #000; -webkit-box-shadow: inset 0 0 20px #000; } .foogallery-owl-carousel.foogallery-lightbox-none.border-style-inset .owl-item:before { content: ''; position: absolute; top: 0; bottom: 6px; left: 0; right: 0; box-shadow: inset 0 0 30px rgba(0,0,0,.9); -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.9); -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.9);}

.foogallery-owl-carousel a,
.foogallery-owl-carousel a img{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/*force no transition on hover so circle doesn't flash a square*/
.foogallery-owl-carousel.border-style-circle-white a img,
.foogallery-owl-carousel.border-style-circle-black a img,
.foogallery-owl-carousel.border-style-circle-white a:hover img,
.foogallery-owl-carousel.border-style-circle-white a:hover img {
	opacity: 1;
	max-height: 100%;
	width: 100%;
	-webkit-transition: all 0ms ease;
	-moz-transition: all 0ms ease;
	-ms-transition: all 0ms ease;
	-o-transition: all 0ms ease;
	transition: all 0ms ease;
}

.foogallery-owl-carousel.border-style-circle-white a,
.foogallery-owl-carousel.border-style-circle-black a {
position: relative;
left: 10px;
}

/* Hover Effects */ 
.foogallery_metabox_field-default_thumb_preview div[class*="hover"] a {line-height: 0;}

.foogallery-owl-carousel.hover-effect-zoom a { background:#000 url('img/zoom.png') no-repeat center center; }  .foogallery-owl-carousel.hover-effect-zoom2 a { background:#000 url('img/zoom2.png') no-repeat center center; }  .foogallery-owl-carousel.hover-effect-zoom3 a { background:#000 url('img/zoom3.png') no-repeat center center; }  .foogallery-owl-carousel.hover-effect-plus a { background:#000 url('img/plus.png') no-repeat center center; }  .foogallery-owl-carousel.hover-effect-circle-plus a { background:#000 url('img/circle-plus.png') no-repeat center center; }  .foogallery-owl-carousel.hover-effect-eye a { background:#000 url('img/eye.png') no-repeat center center; }  .foogallery-owl-carousel.hover-effect-zoom a:hover img, .foogallery-owl-carousel.hover-effect-zoom2 a:hover img, .foogallery-owl-carousel.hover-effect-zoom3 a:hover img, .foogallery-owl-carousel.hover-effect-plus a:hover img, .foogallery-owl-carousel.hover-effect-circle-plus a:hover img, .foogallery-owl-carousel.hover-effect-eye a:hover img { opacity: 0.5; } 

tr.gallery_template_field-owl-carousel-animation {display:none;}
